@model IEnumerable<WZ.Common.Model.Menu>
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>后台管理</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="/static/h-ui/css/H-ui.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui/skin/default/skin.css" rel="stylesheet" type="text/css" id="skin" />
    <link href="/static/h-ui/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <style type="text/css">
        body {
            background: #EEEEEE;
        }
    </style>
</head>
<body>
    <header class="navbar-wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="container-fluid cl">
                <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/">
                    <img src="/images/logo/index.png" alt="logo">
                </a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">上海智企信息技术有限公司</a> <span class="logo navbar-slogan f-l mr-10 hidden-xs">v1.0</span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
                <div>
                    <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                        <ul class="cl">
                            @*<li>超级管理员</li>*@
                            <li class="dropDown dropDown_hover">
                                @*@using (Html.BeginForm("LogOff", "Admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()*@
                                <a href="#" class="dropDown_A">@User.Identity.GetUserName() <i class="Hui-iconfont">&#xe6d5;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li><a href="javascript:;" onclick="user_info('个人资料','/Account/Manage')">个人资料</a></li>
                                    <li><a href="javascript:;" onclick="user_info('修改密码','/Account/ManagePassword')">修改密码</a></li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
                                    </li>
                                </ul>
                                @*}*@
                            </li>
                            <li id="Hui-skin" class="dropDown right dropDown_hover">
                                <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size: 18px">&#xe62a;</i></a>
                                <ul class="dropDown-menu menu radius box-shadow">
                                    <li><a href="javascript:;" data-val="default" title="默认（蓝色）">默认（蓝色）</a></li>
                                    <li><a href="javascript:;" data-val="black" title="黑色">黑色</a></li>
                                    <li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
                                    <li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
                                    <li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
                                    <li><a href="javascript:;" data-val="orange" title="绿色">橙色</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <aside class="Hui-aside">
        <input id="divScrollValue" type="hidden" value="" />
        <div class="menu_dropdown bk_2">
            @foreach (WZ.Common.Model.Menu item in Model.Where(n=>n.ParentId==0))
            {
                if (item.IsHref)
                {
                    <ul>
                        <li>
                            <a _href="@item.Url" data-title="@item.Title" href="javascript:void(0)">
                                <i class="Hui-iconfont">@item.Ico</i> @item.Title
                            </a>
                        </li>
                    </ul>
                }
                else {
                    <dl>
                        <dt><i class="Hui-iconfont">@item.Ico</i> @item.Title<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
                        <dd>
                            <ul>
                                @foreach (var item1 in Model.Where(n => n.ParentId.Equals(item.Id)))
                                {
                                    <li>
                                        <a _href="@item1.Url" data-title="@item1.Title" href="javascript:void(0)">
                                            <i class="Hui-iconfont">@item1.Ico</i> @item1.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </dd>
                    </dl>
                }
            }
        </div>
    </aside>
    <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>
    <section class="Hui-article-box">
        <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
            <div class="Hui-tabNav-wp">
                <ul id="min_title_list" class="acrossTab cl">
                    <li class="active"><span title="欢迎" data-href="welcome.html">欢迎</span><em></em></li>
                </ul>
            </div>
            <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
        </div>
        <div id="iframe_box" class="Hui-article">
            <div class="show_iframe">
                <div style="display: none" class="loading"></div>

            </div>
        </div>
    </section>





    <script type="text/javascript" src="/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/h-ui/js/H-ui.admin.js"></script>
    <script type="text/javascript">
        /*个人资料*/
        function user_info(title, url) {
            var index = layer.open({
                type: 2,
                area: ['500px', '350px'],
                fix: true, //不固定
                maxmin: false,
                shade: 0.4,
                title: title,
                content: url
            });
        }
    </script>
</body>
</html>
